
CREATE TABLE users (
    id integer GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    email text NOT NULL UNIQUE,
    username text NOT NULL UNIQUE,
    password_hash text NOT NULL,
    avatar_url text,
    avatar_public_id text,
    created_at timestamptz NOT NULL DEFAULT now()
);


CREATE TABLE sessions (
    id integer GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    user_id integer NOT NULL,
    access_token text NOT NULL UNIQUE,
    refresh_token text NOT NULL UNIQUE,
    access_token_valid_until timestamptz NOT NULL,
    refresh_token_valid_until timestamptz NOT NULL,
    created_at timestamptz NOT NULL DEFAULT now(),
    updated_at timestamptz NOT NULL DEFAULT now(),

    CONSTRAINT sessions_user_id_fkey
        FOREIGN KEY (user_id)
        REFERENCES users(id)
        ON DELETE CASCADE
);


CREATE TABLE favorites (
    id integer GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    user_id integer NOT NULL,
    tmdb_id integer NOT NULL,
    media_type text NOT NULL,
    title text NOT NULL,
    poster_path text,
    release_date date,
    genres integer[],
    created_at timestamptz NOT NULL DEFAULT now(),

    CONSTRAINT favorites_user_id_fkey
        FOREIGN KEY (user_id)
        REFERENCES users(id)
        ON DELETE CASCADE,

    CONSTRAINT favorites_user_media_unique
        UNIQUE (user_id, tmdb_id, media_type),

    CONSTRAINT favorites_media_type_check
        CHECK (media_type IN ('movie', 'tv')),

    CONSTRAINT favorites_tmdb_id_positive
        CHECK (tmdb_id > 0)
);


CREATE TABLE ratings (
    id integer GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    user_id integer NOT NULL,
    tmdb_id integer NOT NULL,
    media_type text NOT NULL,
    rating numeric(3,1) NOT NULL,
    created_at timestamptz NOT NULL DEFAULT now(),
    updated_at timestamptz NOT NULL DEFAULT now(),

    CONSTRAINT ratings_user_id_fkey
        FOREIGN KEY (user_id)
        REFERENCES users(id)
        ON DELETE CASCADE,

    CONSTRAINT ratings_user_media_unique
        UNIQUE (user_id, tmdb_id, media_type),

    CONSTRAINT ratings_media_type_check
        CHECK (media_type IN ('movie', 'tv')),

    CONSTRAINT ratings_rating_check
        CHECK (rating >= 1 AND rating <= 10),

    CONSTRAINT ratings_tmdb_id_positive
        CHECK (tmdb_id > 0)
);


CREATE TABLE reviews (
    id integer GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    user_id integer NOT NULL,
    tmdb_id integer NOT NULL,
    media_type text NOT NULL,
    title text NOT NULL,
    poster_path text,
    release_date date,
    genres integer[] NOT NULL DEFAULT '{}',
    review_content text NOT NULL,
    created_at timestamptz NOT NULL DEFAULT now(),
    updated_at timestamptz NOT NULL DEFAULT now(),

    CONSTRAINT reviews_user_id_fkey
        FOREIGN KEY (user_id)
        REFERENCES users(id)
        ON DELETE CASCADE,

    CONSTRAINT reviews_user_media_unique
        UNIQUE (user_id, tmdb_id, media_type),

    CONSTRAINT reviews_media_type_check
        CHECK (media_type IN ('movie', 'tv')),

    CONSTRAINT reviews_review_content_check
        CHECK (char_length(trim(review_content)) > 0),

    CONSTRAINT reviews_tmdb_id_positive
        CHECK (tmdb_id > 0)
);


CREATE TABLE watch_history (
    id integer GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    user_id integer NOT NULL,
    tmdb_id integer NOT NULL,
    media_type text NOT NULL,
    title text NOT NULL,
    poster_path text,
    release_date date,
    genres integer[],
    progress_seconds integer NOT NULL DEFAULT 0,
    duration_seconds integer,
    watched_at timestamptz NOT NULL DEFAULT now(),

    CONSTRAINT watch_history_user_id_fkey
        FOREIGN KEY (user_id)
        REFERENCES users(id)
        ON DELETE CASCADE,

    CONSTRAINT history_user_media_unique
        UNIQUE (user_id, tmdb_id, media_type),

    CONSTRAINT watch_history_media_type_check
        CHECK (media_type IN ('movie', 'tv')),

    CONSTRAINT watch_history_tmdb_id_positive
        CHECK (tmdb_id > 0),

    CONSTRAINT watch_history_progress_nonnegative
        CHECK (progress_seconds >= 0),

    CONSTRAINT watch_history_duration_positive
        CHECK (duration_seconds IS NULL OR duration_seconds > 0)
);


CREATE INDEX reviews_user_id_idx
    ON reviews (user_id);

CREATE INDEX reviews_user_updated_idx
    ON reviews (user_id, updated_at DESC);
